In [6]:
germplasmfile = open("Germplasm.tsv", "r")
print(germplasmfile.read)

<built-in method read of _io.TextIOWrapper object at 0x7f04b8229120>

In [8]:

germplasmfile.seek(0)
print(germplasmfile.read())

Locus	germplasm	phenotype	pubmed
AT1G01040	CS3828	Increased abundance of miRNA precursors.	17369351
AT1G01060	lhy-101	The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.	16891401
AT1G01140	SALK_058629	hypersensitive to low potassium media	17486125
AT1G01220	SALK_012400C	fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.	18199744
AT2G03720	SALK_042433	Multiple straight hairs	16367956
AT2G03800	gek1-1	Ethanol hypersensitivity.	15215505
AT2G04240	xerico	Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.	17933900
AT2G05210	pot1-1	No visible phenotype.	17627276
AT3G02130	rpk2-2	The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.	17419837
AT3G02140	afp4-1	Decreased germination on high concentrations of glucose and sorbitol.	18484180
AT3G02230	rgp1-1	rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.	21478444
AT3G02260	tir3-1 RGLG1:rglg1 rglg2	The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.	17586653
AT3G02310	sep2-1	Non-described subtle phenotype.	10821278
AT3G02680	atnbs1-1	Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.	17672843
AT3G02850	CS3816	The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.	17568770
AT3G02870	vtc4-1	ascorbate deficient	16595667
AT3G03260	hdg8-1	No visible phenotype.	16778018
AT4G14790	pdd17	Defective pollen development.	19237690
AT4G15210	bmy1-2	Plants cold-shocked for 6h have an increased starch content compared to wildtype.	16297066
AT4G15560	cla1-1	Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.	10982425
AT4G15570	maa3	Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.	18772186
AT4G15802	Athspb-2	Early flowering, reduced fertility, aborted seeds.	20388662
AT4G15880	esd4-2	Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.	17513499
AT4G16420	prz1-1	Altered response to auxin and cytokinin	12747832
AT4G16480	atint4-2	No visible phenotype.	16603666
AT5G10480	pas2-3	Segregates 25% embryo lethal.	18799749
AT5G10510	plt3-1	Short roots and shortened root meristem.	17960244
AT5G11110	kns2	Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.	18779216
AT5G11260	hy5-101	Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.	16891401
AT5G11510	myb3r4-1	No visible phenotype.	17287251
AT5G12200	pyd2-2	The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.	19413687
AT5G13290	crn-1	Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.	12345678

In [10]:
lokusfile = open("LocusGene.tsv", "r")
print(lokusfile.read())

Locus	Gene	ProteinLength
AT1G01040	DCL1	332
AT1G01060	LHY	290
AT1G01140	CIPK9	223
AT1G01220	FKGP	190
AT2G03720	MRH6	189
AT2G03800	GEK1	196
AT2G04240	XERICO	256
AT2G05210	POT1A	221
AT3G02130	RPK2	284
AT3G02140	TMAC2	300
AT3G02230	RGP1	301
AT3G02260	BIG	279
AT3G02310	SEP2	175
AT3G02680	NBS1	190
AT3G02850	SKOR	234
AT3G02870	VTC4	311
AT3G03260	HDG8	194
AT4G14790	SUV3	312
AT4G15210	BAM5	313
AT4G15560	DXS	219
AT4G15570	MAA3	294
AT4G15802	HSBP	254
AT4G15880	ESD4	265
AT4G16420	ADA2B	279
AT4G16480	INT4	284
AT5G10480	PAS2	301
AT5G10510	AIL6	310
AT5G11110	SPS2	232
AT5G11260	HY5	221
AT5G11510	MYB3R-4	336
AT5G12200	PYD2	310
AT5G13290	CRN	189

In [ ]:

germplasmfile.seek(0) 
lokusfile.seek(0)

for line in lokusfile.readlines():
    line = line.rstrip ()
    agilokus, gene, protlength = line.split('\t')
   
    print("AGI Lokus Code: ", agilokus, "   Gene: ", gene, "Proteinlength", protlength)

Problem 2

In [25]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [26]:
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [27]:
%sql drop database germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[]

In [28]:
%sql create database germplasm;
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [29]:
%sql use germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [35]:

%sql CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, agilokus VARCHAR(9) NOT NULL, germplasm VARCHAR(15) NOT NULL, phenotype VARCHAR(100) NOT NULL, pubmed INTEGER NOT NULL)
%sql DESCRIBE germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('agilokus', 'varchar(9)', 'NO', '', None, ''),
 ('germplasm', 'varchar(15)', 'NO', '', None, ''),
 ('phenotype', 'varchar(100)', 'NO', '', None, ''),
 ('pubmed', 'int(11)', 'NO', '', None, '')]

In [30]:



%sql CREATE TABLE lokusgene(agilokus VARCHAR(9) NOT NULL, GENE VARCHAR(10) NOT NULL, proteinlength INTEGER NOT NULL, germplasmid INTEGER NOT NULL)
%sql DESCRIBE lokusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(VARCHAR(100), pubmed INTEGER NOT NULL))' at line 1")
[SQL: CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, agilokus VARCHAR(9) NOT NULL, germplasm VARCHAR(15) NOT NULL, phenotype (VARCHAR(100), pubmed INTEGER NOT NULL))]
(Background on this error at: http://sqlalche.me/e/f405)
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
(pymysql.err.ProgrammingError) (1146, "Table 'germplasm.germplasm' doesn't exist")
[SQL: DESCRIBE germplasm]
(Background on this error at: http://sqlalche.me/e/f405)
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('agilokus', 'varchar(9)', 'NO', '', None, ''),
 ('GENE', 'varchar(10)', 'NO', '', None, ''),
 ('proteinlength', 'int(11)', 'NO', '', None, ''),
 ('germplasmid', 'int(11)', 'NO', '', None, '')]

Problem 3

In [ ]:
Connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
connection.autocommit = False


with open('LokusGene.csv') as csvfile:
     lokusgene = csv.reader(csvfile, delimiter='\t', quotechar='"')


    
    try:
        with connection.cursor() as cursor:

            sql = """INSERT INTO germplasm (agilokus, germplasm , phenotype, pubmed) 
            VALUES (, , )"""
            cursor.execute(sql)
            sql = "SELECT last_insert_id()"
            cursor.execute(sql)pubmed
            results = cursor.fetchall()   # traertodos
            germplasmid = results[0]['last_insert_id()']
            print(germplasmid)



            sql = """INSERT INTO lokus (agilokus, GENE, proteinlength, germplasmid) 
            VALUES (agilokus, gene, protlength, """ + str(germplasmid) + """)"""
            cursor.execute(sql)


            connection.commit()   # NOTE THAT I AM FORCING THE WRITE TO THE DATABASE HERE

            
            
            
finally:
        print("")
        connection.close()  # if I close before I commit, the inserts are lost


    %sql select * from gene;